.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #009879;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: #27ae60;
}

.btn:focus {
    background-color: #27ae60;
}


.content-table {
    display: table;
    font-family: 'Quicksand', sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* margin: 25px 0; */
    font-size: 1.2em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
}

.content-table thead tr {
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3c7;
}

.content-table tbody tr:nth-of-type(odd) {
    background-color: #f3f3f38f;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* css for fields */

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


.field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}