* {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

.sc-bar::-webkit-scrollbar {
  width: 0.8rem;
}

.sc-bar::-webkit-scrollbar-track {
  background: #0000009e;
}

.sc-bar::-webkit-scrollbar-thumb {
  background: #c8d1d3;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: #0000009e;
}

body::-webkit-scrollbar-thumb {
  background: #c8d1d3;
}

/* 
body{
  background: url("./img/1.jpg") no-repeat center;
	background-size: cover;
} */

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #009879;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #006a54;
}

.btn:focus {
  background-color: #005040;
}

.btn.disable {
  background-color: #485855;
}


.content-table {
  display: table;
  font-family: "Quicksand", sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* margin: 25px 0; */
  font-size: 1.2em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: white;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3c7;
}

.content-table tbody tr:nth-of-type(odd) {
  background-color: #f3f3f38f;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* css for fields */

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:disabled {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}



.success {
  background-color: #009879;
}

.success:hover {
  background-color: #006a54;
}

.success:focus {
  background-color: #005040;
}


.danger{
  background-color: #b60000da;
}


.danger:focus{
  background-color: #560000ed;
}

.danger:hover{
  background-color: #780000da;
}


.col-12{width: 100%;}
.col-11{width: 91.6666%;}
.col-l0{width: 83.3333%;}
.col-9{width: 75%;}
.col-8{width: 66.6666%;}
.col-6{width: 50%;}
.col-5{width: 41.6666%;}
.col-4{width: 33.3333%;}
.col-3{width: 25%;}
.col-2{width: 16.6666%;}
.col-1{width: 8.33333%;}




.row-12{width: 100%;}
.row-11{width: 91.6666%;}
.row-l0{width: 83.3333%;}
.row-9{width: 75%;}
.row-8{width: 66.6666%;}
.row-6{width: 50%;}
.row-5{width: 41.6666%;}
.row-4{width: 33.3333%;}
.row-3{width: 25%;}
.row-2{width: 16.6666%;}
.row-1{width: 8.33333%;}



/* noti css for now */

@charset "utf-8";

.toast-message {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 400px;
  font-size: 16px;
  transition: all .5s;
  z-index: 9999;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  
}
@media (max-width: 424px) {
  .toast-message {
    width: calc(100% - 20px);
  }
}
.toast-message.success {
  background: rgb(0 152 121);
  
}
.toast-message.danger {
  background: #F44336;
}
.toast-message .message {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 30px;
  text-align: center;
}
.toast-message .close {
  position: absolute;
  top: 1%;
  right: 15px;
  float: right;
  font-size: 31px;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-shadow: #1c1c1c 0px 1px 0px;
  opacity: 1;
  cursor: pointer;
 
}
.toast-message .close::after {
  content: "×";
 
}
.toast-message .close:hover {
  opacity: 0.6;
}


/* pagination css */

.pagination{
  padding-top: 30px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;

 }

.pagination .link {
  padding: 10px 15px;
  margin: 0 2px;
  background: transparent;
  border:#bccfd8 1px solid;
  cursor:pointer;
  color:#bccfd8;
  height: 45px;
}
.pagination .disabled {
  cursor:not-allowed;
  color: #bccfd8;
}
.pagination .current {background: #bccfd8;color: #0e7d8b;}
.pagination .first{border-left:#bccfd8 1px solid;}


.pagination .dot {
  padding: 10px 15px; 
  color: #bccfd8; 
  font-size: x-large;
  background: transparent;
}