
#wrong-div {
    margin-top: 15px;
    color: red;
    text-align: center;
}

#middle-div{

margin: 5px auto;

color: red;

text-align: center;


text-align: center;



}

#last-div{
margin:5px auto;

color: red;

text-align: center;


}

.field{
    margin-bottom: 15px;
}

.err::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    /* opacity: 1; Firefox */
}
  


