:root{
    --input-clr: rgb(34, 114, 241);
    --input-clr-bg: rgba(34, 113, 241, 0.164);
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
}
.feild-container{
    margin: 10px 8px 10px 8px;
    width: 400px;
    
}

.input-container{
    position: relative;
    height: 55px;
}
.input-container input {
    border: none;
    outline: none;
    background-color: var(--input-clr-bg);
    font-size: large;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding: 0 7px 0 7px;
    color: var(--input-clr);
    font-weight: 600;
}
/* .input-container .invalid {
    background-color: rgba(246, 29, 29, 0.164);;
    color: rgb(209, 8, 8);
} */


.input-container input:disabled{ 
    color: rgba(0, 0, 0, 0.61);
    background-color: rgba(66, 66, 66, 0.26);

}
.input-container input:focus{
    border: 0.5px solid var(--input-clr);
}
.input-container input:focus + .under-line{
   width: 100%;
    opacity: 1;
}
.feild-container label {
    margin-bottom: 2px;
    color: var(--input-clr);
}
.under-line{
    position: absolute;
    opacity: 0;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    border-bottom: 3px solid var(--input-clr);
    transition: opacity 250ms ease-out, width 200ms ease-in;
}

input[type='submit'], a{
    margin-top: 20px;
    border: none;
    width: 400px;
    height: 40px;
    font-size: large;
    color: aliceblue;
    border-radius: 4px;
    background-color: rgb(34, 114, 241);

}
a{
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
}
input[type='submit']:hover, a:hover{
    background-color: rgba(59, 41, 223, 0.849);
}
