.container {
  justify-content: start;
}

.top-bar {
  padding-top: 20px;
  padding-bottom: 40px;
}

.range {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.field {
  width: 250px;
  margin: 20px;
  background-color: rgb(230, 230, 230);
}

p {
  align-self: center;
  font-size: 20px;
  color: azure;
}

.btn {
  width: 15%;
  height: 45px;
  align-self: center;
}

h1 {
  margin-top: 20px;
}
