table,td,th{
border:1px solid black;
}
td{
padding:5px;
text-align:center;
}
body {
  
    background-color: #417785;

}

header {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.40379901960784315) 0%, rgba(0, 0, 0, 0.5746673669467788) 48%, rgba(0, 0, 0, 0.3981967787114846) 100%);
    margin-bottom: 10px;
}
.container {
    display: flex;
    flex-direction: row;
}

.p-list-section {
    width: 40%;
    margin: 0 10px;
    padding: 10px 10px;
    height: 91vh;
    background-color: rgba(0, 0, 0, 0.062);
}

.table-section {
    margin-right: 10px;
    width: 100%;
    height: 91vh;
    /* background-color: black; */

}

.p-list-section .row {
    display: flex;
    justify-content: space-between;
}

.p-list-section .row span {
    background-color: #4e7c88c9;
    padding: 5px;
    margin: 0 0;
    border-radius: 3px;
}

.btn {
    /* width: ; */
    margin: 30px 30px;
    color:#FFFFFF;
}

.col{
    color:#FFFFFF;
}




.searchbox-sm {

    border-radius: 10px;
    height: 40px;
    background: rgba(255, 255, 255, 0.616);
    margin: 0 0;
    display: flex;
}


.searchbox-sm>.search {
    border: none;
    width: 100%;
}

.searchbox-sm>.btn-search {
    border-radius: 10px;
    font-size: medium;
    padding: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.searchbox-sm>.btn-search:hover {

    background: rgba(255, 255, 255, 0.644);

}

.s {
    margin-top: 6px;
}

.fa-times {
    font-size: large;
    color: rgba(246, 14, 14, 0.438);
}

.add-new {
    /* display: none; */
    background-color: #ffffff9d;
    padding: 3em;
    font-size: larger;
}

.field {
    width: 300px;
    min-width: 150px;
}

.feild-row {
    width: 50%;
    min-width: 350px;
    margin: auto;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    /* margin: 10px; */


}

.feild-row label {
    margin-top: 10px;
}

.feild-row h2 {
    margin: auto;
    margin-bottom: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #D3DBDD;

}